.city-research {
    text-align: center;
    background-color: #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 3px solid #bfbfbf ;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.research-box {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-research {
    text-align: center;
    padding: 40px 50px 25px 50px;
}

.title-research h2 {
    margin-bottom: 15px;
}

.subtitle-research {
    font-size: 0.9em;
}

.button-research {
    padding-bottom: 40px;
}

.button-research button {
    padding: 12px 17px 12px 17px;
    border-radius: 20px 20px 20px 20px;
    color: white;
    border-style: none;
    box-shadow: 1px 1px 5px grey;
    background-color: #9356DC;
}