#restaurants {
    background-color: #f6f6f6;
    padding: 0px 15px 70px 15px;
}

.title-rest {
    padding: 40px 0px 20px 0px;
}
 
.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cards-rest {
    background-color: white;
    height: 250px;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 1px 5px grey;
}

.cards-rest__img {
    object-fit: cover;
    height: 65%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.cards-text-block {
    padding: 15px 0px 0px 15px;
}

.cards-text-block p {
    padding-top: 5px;
}

.cards a:link {
    text-decoration: none;
    color: black;
}

.cards a:visited {
    color: black;
}

.cards-text-block i{
    padding: 60px 0px 0px 280px;
    transform: translate(0%, -140%);
    color: #9356DC;
}