@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import "./Utils/variables";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;  
}

.title {
    font-family: 'Shrikhand', cursive;
    color: white;
}
