// FORMULAIRE DE RECHERCHE //
form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-research;
    border-top: 3px solid #d1d1d1;
    height: 50px;
        //ICONE PIN//
        i {
            padding-right: 5%;
        }
}

// BARRE DE RECHERCHE //
input[type=search] {
    background-color: $color-research;
    border: none;
    width: 40%;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
        &:active {
            border: none;
        }
}