//HEADER DES MENUS//
.header-rest {
    @include flex-column;
    align-items: center;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        & a {
            padding-left: 20px;
        }
        & i {
            font-size: 1.5em;
        }
    }
    &__logo {
        @include desktop-only {
            margin: auto;
        }
        @include tablet-only {
            margin: auto;
        }
        margin-right: 23%;
    }
    &__img {
        @include desktop-only {
            height: 450px;
        }
        @include tablet-only {
            height: 400px;
        }
        margin-top: 25px;
        width: 100%;
        height: 250px;
        object-fit: cover;
        position: relative;
        z-index: 0;
    }
}