// HEADER PAGE PRINCIPALE //
header {
    display: flex;
    justify-content: center;
    padding: 30px 0px 15px 0px;
        img {
            @include desktop-only {
                width: 20em;
            }
            @include tablet-only {
                width: 15em;
            }
            width: 50%;
        }
}
