.order {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-right: 20px;
    &--btn {
        @include button-shadow($color-shadow);
        height: 50px;
        width: 180px;
        border: none;
        border-radius: 25px;
        color: white;
        font-size: 1em;
        background: $color-mix;
        &:hover {
            @include color-swap;
        }
    }
}