// BLOC FONCTIONNEMENT //
.functioning {
    @include flex-column;
    gap: 30px;
    height: 400px;
    width: 100%;
    margin-top: 30px;
        //TITRE//
        h2 {
            font-weight: bold;
            font-size: 1.3em;
            padding: 20px 0px 0px 20px;
        }
        //BOUTONS//
        button {
            @include button-shadow ($color-shadow);
            border: none;
            height: 70px;
            width: 90%;
            background-color: $color-background;
            border-radius: 25px 25px 25px 25px;
            font-weight: bold;
            font-size: 1em;
            &:active {
                background-color: $color-hover-btn;
                & i {
                    color: $color-primary;
                }
            }
        }
        //CONTENEUR DES BOUTONS//
        &__btn-box {
            @include flex-column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;
        }
        //NUMEROS//
        &__numbers {
            width: 20px;
            border: 1px solid $color-primary;
            border-radius: 50%;
            text-align: center;
            color: white;
            background-color: $color-primary;
            margin-left: -15px;
        }
        //ICONES//
        i {
            color: $color-icon-off;
            margin-left: 8%;
        }
        //TEXTES BOUTONS//
        h4 {
            flex-grow: 4;
            margin-right: 15%;
        }
    //TAILLES ICONES//
    .element-1 {
        @include btn-box-center;
            i {
                font-size: 1.20em;
            }
    }

    .element-2 {
        @include btn-box-center;
            i {
                font-size: 1.15em;
            }
    }

    .element-3 {
        @include btn-box-center;
            i {
                font-size: 1.20em;
            }
    }
}