.header-rest {
    @include flex-column;
    align-items: center;
    &__box {
        @include flex-row;
        & i {
            font-size: 1.5em;
            padding: 5px 310px 0px 0px;
        }
    }
    &__logo {
        position: absolute;
    }
    &__img {
        margin-top: 25px;
        width: 100%;
        position: relative;
        z-index: 0;
    }
}