.header-rest {
    @include flex-column;
    align-items: center;
    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        & i {
            font-size: 1.5em;
            padding-top: 5px;
            padding-left: 10px;
        }
        & img{
            margin-right: 90px;
        }
    }
    &__img {
        margin-top: 25px;
        width: 100%;
        height: 250px;
        object-fit: cover;
        position: relative;
        z-index: 0;
    }
}