//MENUS RESTAURANTS//
.menu {
    @include menu-border-radius;
    position: relative;
    background-color: $color-background;
    padding: 0px 20px 50px 20px;
    margin-top: -55px;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & h1 {
            font-family: $font-shrikhand;
            font-size: 1.8em;
            padding: 25px 30px 0px 0px;
        }
    }

    &__heart {
        @include desktop-only {
            width: 95%;
        }
        @include tablet-only {
            width: 92%;
        }
        display: flex;
        width: 87%;
        justify-content: flex-end;
        padding-top: 30px;
    }

    &__subtitle {
            @include desktop-only {
                font-size: 1.4em;
            }
            margin-top: 30px;
            margin-bottom: 15px;
            font-weight: 400;
            &:after {
                @include desktop-only {
                    width: 50%;
                }
                content:"";
                display: block;
                position: relative;
                width: 12%;
                border-bottom: 2px solid $color-tertiary;
                margin-top: 3px
            }
    }
    //BOUTONS DES PLATS//
    &__box {
        @include flex-column;
        @include desktop-only {
            width: 30%;
        }
        gap: 15px;
        margin-bottom: 30px;

        &--btn {
            @include button-shadow($color-shadow);
            overflow: hidden;
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: row;
            background-color: white;
            border-radius: 15px;
            height: 60px;
            width: 100%;
            padding: 10px 20px 10px 10px;
            opacity: 0;
            animation-name: fade-in;
            animation-duration: 2000ms;
            animation-fill-mode: forwards;
            //EFFET SLIDE IN CONTENEUR VERT//
            &:hover .menu__box--misc, .menu__box--plat{
                width: 80%;
            }
            &:hover .menu__box--validate{
                width: 25%;
            }
            &:hover .menu__box--content{
                width: 75%;
            }
            //EFFET ROTATION DE LA COCHE//
            &:hover .menu__box--validate i{
                animation-name: check-rotate;
                animation-duration: 600ms;
                animation-fill-mode: forwards;
            }
        }

        &--content {
            @include desktop-only {
                flex-direction: unset;
            }
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;   
            width: 100%;
            transition: width 500ms ease-in-out;
        }

        &--sub {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        &--plat {
            @include ellipsis;
            font-size: 1.1em;
            font-weight: bold;
            align-self: flex-start;
        }

        &--misc {
            @include ellipsis;
            font-size: .9em;
            position: relative;
            max-width: 250px;

        }

        &--prix {
            font-weight: bold;
            align-self: flex-end;  
        }
        //CONTENEUR VERT DE VALIDATION//
        &--validate {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-tertiary;
            border-radius: 0 15px 15px 0;
            height: 60px;
            margin: -10px -21px 0px 20px;
            width: 0%;
            transition: width 500ms ease-in-out;
            & i {
                color: white;
            }
        }
    }
    
    &__box button {
        @include button-shadow($color-shadow);
        border: none;
        background-color: white;
        width: 95%;
        border-radius: 15px;
    }

    &__wrapper {
        @include desktop-only {
            display: flex;
            margin: auto;
            justify-content: center;
            gap: 50px;
        }
    }
}
