//MENUS RESTAURANTS//
.menu {
    @include menu-border-radius;
    position: relative;
    background-color: $color-background;
    padding-left: 20px;
    margin-top: -55px;
    padding-bottom: 50px;
    &__title {
        display: flex;
        flex-direction: row;
        & h1 {
            font-family: $font-shrikhand;
            font-size: 1.8em;
            padding: 25px 30px 0px 0px;
        }
    }
    &__heart {
        padding-top: 25px;
        width: 24px;
    }
    &__subtitle {
            margin-top: 30px;
            margin-bottom: 15px;
            font-weight: 400;
            &:after {
                content:"";
                display: block;
                position: relative;
                width: 12%;
                border-bottom: 2px solid $color-tertiary;
                margin-top: 3px
            }
    }
    //BOUTONS DES PLATS//
    &__box {
        @include flex-column;
        gap: 15px;
        margin-bottom: 30px;
        &--btn {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 60px;
            padding: 10px 20px 0px 10px;
            opacity: 0;
            animation-name: fade-in;
            animation-duration: 2000ms;
            animation-fill-mode: forwards;

        }
        &--content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;   
            width: 100%;
        }
        &--plat {
            font-size: 1.4em;
            font-weight: bold;
            align-self: flex-start;
        }
        &--misc {
            font-size: 1.1em;
        }
        &--prix {
            font-weight: bold;
            align-self: flex-end;
           
        }
        &--validate {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 0 14px 14px 0;
            right: 0;
            top: 0;
            overflow: hidden;
            transition: 1s all ease;
            
            &::before {
                content: "";
                background-color: $color-tertiary;
                position: absolute;
                right: 0;
                top: 0;
                transition: all 0.6 ease;
                width: 0%;
                height: 100%;
            }

            &:hover::before {
                animation-name: check-in;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

            & i {
                display: none;
            }
        }

    }
    &__box button {
        @include button-shadow($color-shadow);
        border: none;
        background-color: white;
        width: 95%;
        border-radius: 15px;
    }
}
