// ANIMATION BARRE DE CHARGEMENT //
.loading_header, .research, .functioning, .restaurants, .loading_footer{
    position: relative;
    animation-name: loading;
    animation-duration: 5s;
}

#progress {
    overflow: hidden;
    position: fixed;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid $color-secondary; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear forwards;
    margin: 5% auto;
    top: 40%;
    left: 0;
    right: 0;
}

// BLOCS DE PAGE // 
.restaurants {
    @include flex-column;
    @include desktop-only {
        margin: auto;
        position: relative;
    }
    background-color: $color-background;

        &__title {
            @include title-format;
            @include desktop-only {
                width: 100%;
                max-width: 1280px;
                position: relative;
                margin: auto;
                padding: 50px 0px 40px 25px;
            }
            margin-top: 30px;
        }
}

//CARTES//
.cards {
    @include flex-column;
    @include desktop-only {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        padding-left: 50px;
        max-width: 1280px;
        gap: 50px;
    }
    @include tablet-only {
        flex-direction: row;
        flex-wrap: wrap;
    }
    margin-top: 20px;
    padding-bottom: 70px;
    align-items: center;
    gap: 20px;
}

.cards-rest {
    @include desktop-only {
        width: 45%;
    }
    @include tablet-only {
        width: 45%;
        margin: auto;
    }
    @include button-shadow ($color-shadow);
    background-color: white;
    height: 250px;
    width: 90%;
    border-radius: 25px 25px 25px 25px;
    position: relative;

        &__img {
            object-fit: cover;
            height: 70%;
            width: 100%;
            border-radius: 25px 25px 0px 0px;
        }

        &__txt-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px 0px 0px 10px;
            font-size: 1.1em;
        }
        &__new {
            height: 30px;
            width: 80px;
            font-size: 0.7em;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 40%);
            border-radius: 2px;
            box-shadow: 2px 2px 6px grey;
            position: absolute;
            align-self: flex-end;
            margin-top: -170px;
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            color: black;
        }
}

//ICONE COEUR//
:root {
    --pink: #FF79DA;
    --dark-pink: #9356DC;
}
.icons {
    position: absolute;
    align-self: flex-end;
    line-height: 0;
    font-size: 1.2em;
    margin: 20px 20px 0px 0px;
    fill: transparent;
    stroke: var(--dark-pink);
    stroke-width: 2;
}
svg {
   overflow: visible;
}

path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}

.heart_background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}

.heart_main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
}

