header, .research, .functioning, .restaurants, footer{
    position: relative;
    animation-name: loading;
    animation-duration: 6000ms;
}

#progress {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 3vh;

    &__bar {
        opacity: 1;
        height: 3vh;
        background: linear-gradient(to left, $color-secondary, $color-primary);
        border-radius: 25px 25px 25px 25px;
        position: fixed;
        z-index: 1;
        animation-name: loading-bar;
        animation-duration: 3500ms;
        animation-fill-mode: forwards;
    }  
}

.restaurants {
    @include flex-column;
    background-color: $color-background;

        &__title {
            @include title-format;
            margin-top: 30px;
        }
}

.cards {
    @include flex-column;
    margin-top: 20px;
    padding-bottom: 70px;
    align-items: center;
    gap: 20px;
}

.cards-rest {
    @include button-shadow ($color-shadow);
    background-color: white;
    height: 250px;
    width: 90%;
    border-radius: 25px 25px 25px 25px;
    position: relative;

        &__img {
            object-fit: cover;
            height: 70%;
            width: 100%;
            border-radius: 25px 25px 0px 0px;
        }

        &__txt-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px 0px 0px 10px;
            font-size: 1.1em;

            & i{
                position: absolute;
                align-self: flex-end;
                line-height: 0;
                font-size: 1.2em;
                margin: 20px 20px 0px 0px;
                color: white;
                text-shadow: 0 0 3px #000;

                &:hover {
                    animation-name: heart-fill-up;
                    animation-duration: 1000ms;
                }
            }
        }
        &__new {
            height: 30px;
            width: 80px;
            font-size: 0.7em;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 40%);
            border-radius: 2px;
            box-shadow: 2px 2px 6px grey;
            position: absolute;
            align-self: flex-end;
            margin-top: -170px;
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            color: black;
        }
}

