//INITIALISATION FLEX//
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin funct-btn-box {
    display: flex;
    justify-content: center;
    width: 90%;
}

@mixin btn-box-center {
    @include funct-btn-box;
    @include flex-row;
    align-items: center;
    justify-content: space-around;
}

//FORMATAGE TEXTE//
@mixin title-format {
    font-weight: bold;
    padding: 20px 0px 0px 20px;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//OMBRES BOUTONS//
@mixin button-shadow ($color) {
    box-shadow: 3px 3px 5px $color;
}

//BORDURES ARRONDIES//
@mixin  menu-border-radius {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

//DÉGRADÉ COULEUR BOUTONS PRINCIPAUX//
@mixin color-swap {
    $color-1: lighten($color-primary, 10%);
    $color-2: lighten($color-secondary, 10%);
    $color-3: darken($color-shadow, 15%);
    background: linear-gradient(to bottom right, $color-1, $color-2);
    box-shadow: 3px 3px 5px $color-3;
}

// MEDIA QUERIES // 
@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin functioning-box {
    margin: auto;
    position: relative;
    height: 230px;
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
