@mixin button-shadow ($color) {
    box-shadow: 3px 3px 5px $color;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin title-format {
    font-weight: bold;
    padding: 20px 0px 0px 20px;
}

@mixin funct-btn-box {
    display: flex;
    justify-content: center;
    width: 90%;
}

@mixin  menu-border-radius {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

@mixin btn-box-center {
    @include funct-btn-box;
    @include flex-row;
    align-items: center;
    justify-content: space-around;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin color-swap {
    $color-1: lighten($color-primary, 10%);
    $color-2: lighten($color-secondary, 10%);
    $color-3: darken($color-shadow, 15%);
    background: linear-gradient(to bottom right, $color-1, $color-2);
    box-shadow: 3px 3px 5px $color-3;
}

// BOUCLES //
@for $i from 1 to 10 {
    .menu__box a:nth-child(#{$i}) {animation-delay: $i * 0.30s;}
}
