@mixin button-shadow {
    box-shadow: 3px 3px 5px #D8D8D8;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin title-format {
    font-weight: bold;
    padding: 20px 0px 0px 20px;
}

@mixin funct-btn-box {
    display: flex;
    justify-content: center;
    width: 95%;
}

@mixin  menu-border-radius {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}