//COLORS//
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-research: #EAEAEA;
$color-background: #F6F6F6;
$color-hover-btn: #F5EDFF;
$color-icon-off: #7E7E7E;
$color-footer: #353535;
$color-shadow: #D8D8D8;
$color-mix: linear-gradient(to bottom right, $color-secondary, $color-primary);

//FONTS//
$font-roboto: 'Roboto', sans-serif;
$font-shrikhand: 'Shrikhand', cursive;


